.dashboardAdmin {
    background-image   : url('../images/New\ car.jpg');
    background-size    : cover;
    background-repeat  : no-repeat;
    background-position: center;
    padding            : 40px;
    display            : flex;
    justify-content    : center;
    align-items        : center;
    margin-top         : 60px;
}


.menu_list {
    margin: 0;
}

.menu_list li {
    margin-top   : 10px;
    list-style   : none;
    padding      : 10px;
    border-bottom: 2px solid white;
    border-radius: 10px;
    transition   : all 0.2s ease-in-out;
}

.menu_list li:hover {
    border-bottom: 4px solid rgb(13, 14, 80);
}

.dashboardAdmin_container {
    background-color: rgb(255, 255, 255);
    border-radius   : 10px;
    display         : flex;
    width           : 1200px;

}

.navbar_dashboardAdmin {
    width      : 280px;
    background : linear-gradient(to right, #1f1e1e, #1717c7);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color      : white;
}

.navbar_dashboardAdmin_logo {
    display        : flex;
    align-items    : center;
    flex-direction : column;
    padding        : 10px 20px;
    justify-content: center;

}

.navbar_dashboardAdmin_logo>div {
    margin     : 6px 0px;
    font-size  : 20px;
    font-weight: 700;
}

.navbar_dashboardAdmin_logo>span {
    font-size  : 14px;
    font-weight: 500;

}

.navbar_dashboardAdmin_logo img {
    width        : 70px;
    height       : 70px;
    border-radius: 50%;
    object-fit   : contain;
}


.menu_section {
    font-size    : 16px;
    padding      : 20px;
    border-bottom: 2px solid white;
    border-radius: 10px;
    cursor       : pointer;
    transition   : all 0.2s ease-in-out;

}

.menu_section:hover {
    border-bottom: 4px solid rgb(13, 14, 80);

}


.menu_section i span {
    margin-left: 10px;
}

.menu_title {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
}

.menu_manage,
.menu_from {
    overflow      : hidden;
    max-height    : 0;
    opacity       : 0;
    transform     : translateY(-10px);
    pointer-events: none;
    transition    : all 0.3s ease;
}

.menu_manage.show,
.menu_from.show {
    max-height    : 500px;
    /* đủ lớn để chứa toàn bộ li */
    opacity       : 1;
    transform     : translateY(0);
    pointer-events: auto;
}