.layout_chat_select_option {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    border-radius  : 20px;
    border-bottom  : 2px solid rgb(116, 115, 115);
    padding        : 5px;
}

.layout_chat_select_option_user {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
}

.layout_chat_text {
    height         : 300px;
    overflow-y     : auto;
    padding        : 10px;
    display        : flex;
    justify-content: start;
    flex-direction : column;
}

.layout_chat_text_object {
    display    : flex;
    align-items: flex-start;
}

.layout_chat_select_option_user img {
    height       : 30px;
    width        : 30px;
    margin       : 0 5px;
    border-radius: 100%;
    object-fit   : cover;
}

.layout_chat_text_object img {
    height       : 25px;
    width        : 25px;
    margin       : 0 5px;
    border-radius: 100%;
    object-fit   : cover;
}

.layout_chat_text_container {
    display: flex;

    justify-content: start;
}

.layout_chat_text_container1 {
    display        : flex;
    justify-content: end;

}

.layout_chat_select_option_user h4 {
    color    : white;
    margin   : 0;
    font-size: 13px;
}

.layout_chat_select_option_icon {
    display: flex;
    gap    : 10px;
}

.layout_chat_select_option_icon i {
    color    : white;
    font-size: 20px;
    cursor   : pointer;
}

.layout_chat_text_object img {
    transition: opacity 0.3s ease;
}

.message {
    background-color: rgb(40, 133, 133);
    border-radius   : 10px;
    max-width       : 120px;
    color           : white;
    font-size       : 11px;
    height          : auto;
    padding         : 5px 10px;
    word-wrap       : break-word;
    word-break      : break-word;
    white-space     : pre-wrap;

}

.layout_chat_input {
    display        : flex;
    align-items    : flex-end;
    /* Thay đổi từ center thành flex-end */
    justify-content: center;
}

.chat_input {
    border-radius  : 20px;
    width          : 80%;
    display        : flex;
    align-items    : flex-end;
    justify-content: space-between;
}


.chat_input textarea {
    width           : 100%;
    padding         : 6px 10px;
    font-size       : 14px;
    border          : none;
    caret-color     : white;
    outline         : none;
    resize          : none;
    color           : white;
    border-radius   : 12px;
    line-height     : 18px;
    overflow-y      : auto;
    background-color: rgb(73, 73, 73);
    min-height      : 20px;
    max-height      : 100px;

    field-sizing: content;

}

.chat_input textarea::placeholder {
    color    : white;
    font-size: 12px;

}



.layout_chat_input i {
    margin       : 0 5px;
    color        : white;
    font-size    : 18px;
    align-self   : flex-end;
    /* Thêm thuộc tính này */
    margin-bottom: 8px;
    /* Điều chỉnh để căn với baseline của text trong textarea */
}