.post {
    background         : linear-gradient(to right, #1f1e1e, #1717c7);
    background-size    : cover;
    background-repeat  : no-repeat;
    background-position: center;
    padding            : 40px;
    display            : flex;
    justify-content    : center;
    align-items        : center;
    margin-top         : 60px;
}

.post_container {}

.post_content {
    background-color: white;
    margin          : 10px;
    padding         : 20px;
    width           : 500px;
    border-radius   : 5px;
}

.post_content>div {}

.post_user_title {
    display    : flex;
    align-items: center;
}

.post_user_title img {
    height       : 50px;
    width        : 50px;
    border-radius: 50%;
    object-fit   : cover;
}

.post_user_name {
    margin-left: 10px;
}

.post_user_name span {
    font-size: 12px;
    color    : #979799;
}

.post_user_name .post_name {
    font-size: 17px;
}

.post_user {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
}

.post_user_setting {
    position: relative;
}

.post_user_setting i {
    font-size: 25px;
    cursor   : pointer;
}


.option_post {

    position     : absolute;
    width        : 200px;
    right        : 0;
    top          : 100%;
    border-radius: 5px;
    padding      : 10px;
    color        : white;
    background   : linear-gradient(to right, #1f1e1e, #1717c7);
    transition   : all 0.3s ease-out;
}

.option_post.hide {
    opacity       : 0;
    transform     : translateY(-10px);
    pointer-events: none;
}

.option_post.show {
    opacity       : 1;
    transform     : translateY(0);
    pointer-events: auto;
}

.option_post_flex {
    display    : flex;
    padding    : 5px;
    gap        : 10px;
    font-size  : 12px;
    align-items: center;
    cursor     : pointer;
    transition : all 0.2s ease-in;
}

.option_post_flex:hover {
    border-radius: 10px;
    border-bottom: 1px solid white;
}

.option_post_flex i {
    font-size: 16px;
}

.post_context {
    text-align: justify;
}

.post_img img {
    width     : 100%;
    height    : 400px;
    object-fit: contain;
}