.footer {
    background: #111;
    padding   : 16px 32px;
    color     : #ccc;
}

.footer-container {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}

.footer-right a {
    color      : #ccc;
    margin-left: 16px;
    font-size  : 24px;
    transition : color 0.3s;
}

.footer-right a:hover {
    color: #f00;
}

.footer img {
    height: 100px;
    width : 100px;

}