.FPost_title {
    font-family: 'Times New Roman', Times, serif
}

.FPost_title h4 {
    color      : rgb(139, 141, 141);
    font-weight: 300;
}

.FPost_title div {
    display      : flex;
    align-items  : center;
    margin-bottom: 20px;
}

.FPost_title div span {
    color: rgb(0, 69, 219);
}

.FPost_content {
    display        : flex;
    justify-content: space-between;
}

.FPost_from {
    background-color: white;
    width           : 48%;
    display         : flex;
    flex-direction  : column;
    padding         : 10px;
}

#FPost_from_titile {
    margin: 0;
}

.FPost_from_titile {
    padding      : 5px 0;
    margin-top   : 30px;
    border-bottom: 1px solid rgb(207, 207, 207);
}

.FPost_from span {
    color: red;
}

.nav_context {
    display         : flex;
    align-items     : center;
    background-color: rgb(255, 255, 255);
}

.nav_context div {
    margin-right: 20px;
    cursor      : pointer;
    padding     : 2px 5px;

}

#text_style_u {
    text-decoration: underline;
}

#text_style_b {
    font-weight: 600;
}

#text_style_i {
    font-style: italic;
}

/* Ô soạn thảo contentEditable */
[contenteditable="true"] {
    min-height   : 150px;
    max-width    : 100%;
    border       : 1px solid #ccc;
    max-height   : 300px;
    padding      : 10px;
    text-align   : justify;
    margin-top   : 10px;
    border-radius: 4px;
    outline      : none;
    font-size    : 15px;
    line-height  : 1.5;
    overflow-y   : auto;

    /* ✅ Bắt buộc xuống dòng khi text quá dài */
    word-wrap    : break-word;
    overflow-wrap: break-word;
    white-space  : pre-wrap;
}

/* Khi focus vào editor */
[contenteditable="true"]:focus {
    border-color: rgb(0, 69, 219);
    box-shadow  : 0 0 3px rgba(0, 69, 219, 0.3);
}




.FPost_from_img {
    height : 300px;
    padding: 10px;
}

.FPost_from_img_container {
    position: relative;
    display : flex;
    cursor  : pointer;
    height  : 100%;
}

.FPost_from_img_container:hover {
    background-color: rgb(212, 212, 212, 0.5);
    transition      : all 0.2s ease-in;
}

.FPost_from_img_container #post_img_default {
    position  : absolute;
    top       : 50%;
    left      : 50%;
    transform : translate(-50%, -50%);
    width     : 200px;
    height    : 200px;
    object-fit: contain;
}

.FPost_from_img_container #post_img_main {
    width     : 100%;
    height    : 100%;
    object-fit: contain;

}

.corner {
    background-color: transparent;
    width           : 20px;
    height          : 20px;
    border-radius   : 5px;
    border-top      : 2px solid rgb(95, 95, 95);
    border-right    : 2px solid rgb(95, 95, 95);
}

.corner_topR,
.corner_buttonR,
.corner_topL,
.corner_buttonL {
    position: absolute;
}

.corner_topL {
    left     : 0;
    top      : 0;
    transform: rotate(-90deg);
}

.corner_topR {
    top  : 0;
    right: 0;
}

.corner_buttonR {
    right    : 0;
    bottom   : 0;
    transform: rotate(90deg);
}

.corner_buttonL {
    left     : 0;
    bottom   : 0;
    transform: rotate(180deg);
}

.FPost_regime {
    display        : flex;
    justify-content: space-around;
    align-items    : center;
}

.FPost_view {
    position: relative;
    width   : 45%;
    height  : auto;

}

.FPost_view_titile {
    padding      : 5px 0;
    border-bottom: 1px solid rgb(207, 207, 207);
}

.FPost_view_container {
    position        : sticky;
    padding         : 10px;
    top             : 70px;
    background-color: white;
}

.FPost_buttons {
    display        : flex;
    justify-content: end;
}

.FPost_buttons button {
    border: 1px solid rgb(158, 158, 158);
    color : white;
    margin: 10px 0px 0 20px;
}

.FPost_buttons button:hover {
    transition      : all 0.2s ease-out;
    background-color: rgb(38, 71, 71);
}

.FPost_buttons_cancel {
    background-color: rgb(211, 5, 5);
}

.FPost_buttons_save {
    background-color: rgb(17, 84, 184);
}