.fromProducts_container {
    width  : 100%;
    padding: 20px;
}

.fromProducts_form {
    background    : #fff;
    border-radius : 16px;
    box-shadow    : 0 4px 12px rgba(0, 0, 0, 0.1);
    padding       : 24px;
    display       : flex;
    flex-direction: column;
    gap           : 18px;
}

.form_group {
    display       : flex;
    flex-direction: column;
    gap           : 6px;
}

.form_label {
    font-weight: 600;
    color      : #333;
}



.form_button {
    padding         : 12px 18px;
    border          : none;
    border-radius   : 8px;
    background-color: #007bff;
    color           : white;
    font-weight     : 600;
    cursor          : pointer;
    transition      : 0.3s;
    align-self      : flex-end;
}

.form_button:hover {
    background-color: #0056b3;
}

.upload_image_container {
    display: flex;
    height : 300px;
}

.upload_image {
    position: relative;
    width   : 50px;
    height  : 50px;
    border  : 2px dashed #ccc;
    cursor  : pointer;
}

.upload_image img {
    position  : absolute;
    top       : 50%;
    left      : 50%;
    transform : translate(-50%, -50%);
    width     : 100%;
    height    : 100%;
    object-fit: contain;
}

.upload_image p {
    position  : absolute;
    top       : 100%;
    left      : 50%;
    text-align: center;
    width     : 100%;
    transform : translate(-50%, -50%);
    font-size : 9px;

}

.upload_image:hover {
    border-color    : #007bff;
    background-color: #f0f8ff;
    box-shadow      : 0 4px 10px rgba(0, 123, 255, 0.1);
}

.secondary_img {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: space-between;
    margin-left    : 20px;
}

select option {
    font-size: 14px;
}

select option img {
    width : 30px;
    height: 30px;
}