.product-page {
    margin-top: 60px;
}

.product-search {
    display    : flex;
    align-items: center;
}

.product-search input {
    font-size: 15px;
    padding  : 5px;
    outline  : none;
    width    : 300px;
}

.product-icon {
    margin-left: 10px;
    position   : relative;
}

.corner_topR,
.corner_topL,
.corner_buttonR,
.corner_buttonL {
    position        : absolute;
    background-color: transparent;
    width           : 15px;
    height          : 15px;
    border-radius   : 5px;
    border-top      : 2px solid rgb(0, 0, 0);
    border-right    : 2px solid rgb(0, 0, 0);
}

.product-filter i {
    font-size: 20px;
}

.product-header {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.product-header-content {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    width          : 80%;
    padding        : 10px 0;
}

.product-list {
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-wrap      : wrap;
}

.product-search img {
    height    : 30px;
    width     : 50px;
    object-fit: contain;
}

.product-item {
    width        : 400px;
    margin       : 10px;
    height       : 280px;
    position     : relative;
    background   : #111;
    transition   : all 0.3s ease-in-out;
    border-radius: 5px;
}

.product-item :hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor    : pointer;

}

.product-item .img_product img {
    transition: transform 0.3s ease-in-out;
}

.product-item:hover .img_product img {
    transform: translate(-50%, -50%) scale(0.96);
}

.logo_product img {
    position     : absolute;
    top          : 0;
    left         : 0;
    width        : 40px;
    border-radius: 50%;
    height       : 40px;
    object-fit   : contain;
    z-index      : 1;
}

.name_product {
    position        : absolute;
    top             : 0;
    right           : 0;
    background-color: rgb(131, 1, 1);
    border-radius   : 5px;
    color           : white;
    padding         : 5px 10px;
    z-index         : 1;
}

.img_product img {
    position  : absolute;
    top       : 50%;
    left      : 50%;
    transform : translate(-50%, -50%);
    z-index   : 0;
    width     : 100%;
    height    : 90%;
    object-fit: contain;
}

.price_product {
    position        : absolute;
    bottom          : 0;
    left            : 50%;
    transform       : translate(-50%, 0);
    text-align      : center;
    border-radius   : 5px;
    background-color: rgb(131, 1, 1);
    color           : white;
    padding         : 5px 10px;
}

.search-results {
    position  : fixed;
    top       : 60px;
    right     : 0;
    z-index   : 1000;
    width     : 880px;
    background: rgba(41, 41, 41, 0.8);
    height    : 100vh;
    overflow-y: auto;
}

.results-header-content {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    color          : white;
    padding        : 10px;
    font-size      : 26px;
}

.search-input {
    position        : relative;
    background-color: aqua;
}

.search-autocomplete {
    position        : absolute;
    top             : 100%;
    left            : 0;
    width           : 100%;
    border          : 1px solid #ccc;
    font-size       : 15px;
    background-color: rgb(255, 255, 255);
    z-index         : 10;
    ;

}

.search-autocomplete-container {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    padding        : 5px;
}

.search-autocomplete-container:hover {
    background-color: #f0f0f0;
    cursor          : pointer;
}