.content-two {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    padding        : 0px 60px;
}

.content-two h2 {
    font-size: 50px;
    color    : rgb(32, 32, 32);
}

.content-two button {
    border          : none;
    padding         : 20px 40px;
    font-family     : 'Times New Roman', Times, serif;
    background-color: white;
    font-size       : 18px;
    font-weight     : bold;
    cursor          : pointer;
    box-shadow      : 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content-two button:hover {
    transform : scale(1.05);
    transition: 0.2s ease-in-out;
}

.content-banner {
    background-image   : url("/src/assets/images/banner.jpg");
    background-size    : cover;
    background-position: center;
    background-repeat  : no-repeat;
    display            : flex;
    align-items        : center;
    justify-content    : center;
    height             : 400px;
    position           : relative;
    cursor             : pointer;
}




.car {
    position : absolute;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%) scale(1.2);
    width    : 400px;

    height    : auto;
    object-fit: cover;
    animation : identifier 1s ease-in-out forwards alternate;


}

.content-banner i {
    font-size: 60px;
    color    : aquamarine;
}

.content-banner i:hover {
    transition: 0.2s ease-in-out;
    color     : rgb(134, 132, 132);
}

.content-banner #back {
    position : absolute;
    left     : 0;
    top      : 50%;
    transform: translateY(-50%);
}

.content-banner #next {
    position : absolute;
    right    : 0;
    top      : 50%;
    transform: translateY(-50%);
}

@keyframes identifier {
    0% {
        transform: translate(-50%, -50%) scale(1.2);
    }


    100% {
        transform: translate(-50%, -50%) scale(1.4);
    }

}